@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-text font-sans antialiased overflow-x-hidden;
}

#root {
  @apply min-h-screen flex flex-col;
}